<p>Ola, <%= @usersuper.nomeUsuario %></p>

<p>
  O evento <%= @evento %>, na sala <%= @sala %> registrado de <%= @de.strftime("%d/%m/%Y") %> ate <%= @ate.strftime("%d/%m/%Y") %> foi criado mas necessita ser confirmado ou negado.
  Favor, entrar no sistema e dar o parecer ao evento.

</p>
