<p>Olá, <%= @user.nomeUsuario %></p>
<p>Seu evento de nome <%= @evento.title %>, registrado para <%= @evento.start_date.strftime("%d/%m/%Y") %>, <%= @evento.timeini.strftime("%H:%M") %> 
até <%= @evento.end_date.strftime("%d/%m/%Y") %>, <%= @evento.timefim.strftime("%H:%M") %> foi <%= @status %>.</p>