<p>Olá, admin</p>
<p>O evento <%= @evento.title %>, de <%= @evento.start_date.strftime("%d/%m/%Y") %> até <%= @evento.end_date.strftime("%d/%m/%Y") %> foi <%= @status %>.</p>
<p>O evento foi criado pelo usuário: <%= @userdoevento.nomeUsuario %> de e-mail: <%= @userdoevento.emailPrincipalUsuario %></p>