<% if @perfil == 'Pendente' %>
    <p>Olá, <%= @user.nomeUsuario %></p>
    <p>Sua inscrição na sala <%= @sala.nome %> foi solicitada.</p>
    <p>Aguarde o parecer do administrador do sala.</p>

<% else %>
    <p>Olá, <%= @user.nomeUsuario %></p>
    <p>Sua inscrição na sala <%= @sala.nome %> foi aceita e você tem acesso com perfil <%= @perfil %>.</p>
    <p>Você já pode fazer os agendamentos nessa sala.</p>
<% end %>