<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Titulo" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :descricao, "Descriçao" %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :registropara, "Registrado para" %>
    <%= form.text_field :registropara %>
  </div>

  <div class="field">
    <%= form.label :start_date, "Data inicial" %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :timeini, "Horario inicial" %>
    <%= form.time_select :timeini %>
  </div>

  <div class="field">
    <%= form.label :end_date, "Data final" %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :timefim, "Horario final" %>
    <%= form.time_select :timefim %>
  </div>

  <div class="field">
    <%= form.label :sala_id, "Sala" %>
    <%= form.select("sala_id", Sala.where("id in (?)", @salas).collect {|a| [ a.nome, a.id ] })  %>
  </div>
  
  <div class="field">
    <%= form.label :domingo, "Domingo" %>
    <%= form.check_box :domingo %>
  </div>

  <div class="field">
    <%= form.label :segunda, "Segunda-feira" %>
    <%= form.check_box :segunda %>
  </div>

  <div class="field">
    <%= form.label :terca, "Terça-feira" %>
    <%= form.check_box :terca %>
  </div>

  <div class="field">
    <%= form.label :quarta, "Quarta-feira" %>
    <%= form.check_box :quarta %>
  </div>

  <div class="field">
    <%= form.label :quinta, "Quinta-feira" %>
    <%= form.check_box :quinta %>
  </div>

  <div class="field">
    <%= form.label :sexta, "Sexta-feira" %>
    <%= form.check_box :sexta %>
  </div>    

  <div class="field">
    <%= form.label :sabado, "Sabado" %>
    <%= form.check_box :sabado %>
  </div>  
 
  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>

