<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--div class="field observacao">
    <%= form.label :sala_id, "Sala/Equipamento" %>
    <%= form.collection_select :sala_id, Sala.where(" id in (?)", carregarsalas), :id, :nome, { include_blank: 'Selecione a sala' } %>

    <p id="event_observacao">
    </p>

  </div-->

  <h4><i> O administrador da agenda reserva-se o direito de analisar as informações fornecidas no agendamento. Em caso de qualquer irregularidade ou impedimento relacionado ao equipamento, o agendamento poderá ser cancelado. </i> </h3>

  <div class="form-group">
    <%= form.label :sala_id, "Sala escolhida: " %><br>
    <%= form.hidden_field :sala_id, value: @sala.id, class: 'form-control' %>
    <%= @sala.nome + " - " + @sala.observacao  %>
  </div>

  <div class="field">
    <%= form.label :title, "Título do agendamento" %>
    <%= form.text_field :title, size:40, placeholder: "Informação de destaque na agenda" %>
  </div>

  <div class="field">
    <%= form.label :registropara, "Registrar para" %>
    <%= form.text_field :registropara, size:30 %>
  </div>

  <div class="field">
    <%= form.label :descricao, "Descrição" %>
    <%= form.text_field :descricao, size:35, placeholder: "Experimento, procedimento ou uso"   %>
  </div>

  <div class="field">
    <%= form.label :start_date, "Data inicial" %>
    <% if session[:admingeral] == true or @ehadmindesala == true %>      
      <%= form.date_field :start_date, min: Date.today %> -   
    <% else %>
      <%= form.date_field :start_date, min: Date.today + 1.day %> -         
    <% end %>
    <%= form.select("timeini", options_for_select(@values.map{ |t| [Time.at(t).utc.to_datetime.strftime("%H:%M"), Time.at(t).utc.to_datetime.strftime("%H:%M")]}, :selected => form.object.timeini == nil ? "" : form.object.timeini.to_datetime.strftime("%H:%M") )) %>
  </div>

  <div class="field">
    <%= form.label :end_date, "Data final" %>
    <% if session[:admingeral] == true or @ehadmindesala == true %>      
      <%= form.date_field :end_date, min: Date.today %> -  
    <% else %>
      <%= form.date_field :end_date, min: Date.today + 1.day  %> -        
    <% end %>  
    <!-- %= select_tag :timefim, options_for_select(@values.map{ |t| [ Time.at(t).utc.to_datetime.strftime("%H:%M"), Time.at(t).utc.to_datetime ]}) %-->
    <!-- %= form.select("timefim", options_for_select(@values.map{ |t| [Time.at(t).utc.to_datetime.strftime("%H:%M"), Time.at(t).utc.to_datetime.strftime("%H:%M") ]}, :selected => form.object.timefim.to_datetime.strftime("%H:%M"))) %-->
    
    <%= form.select("timefim", options_for_select(@valuesfim.map{ |t| [Time.at(t).utc.to_datetime.strftime("%H:%M"), Time.at(t).utc.to_datetime.strftime("%H:%M")]}, :selected => form.object.timefim == nil ? "" : form.object.timefim.to_datetime.strftime("%H:%M") )) %>

  </div>

  <fieldset>
  <legend>Selecione o(s) dia(s) que o agendamento acontecerá:</legend>
  
    <table>
      <tr>
        <td>
          <div class="field">
            <%= form.check_box :domingo %>
            <%= form.label :domingo, "Domingo"  %>
          </div>  
        </td>
        <td>
          <div class="field">
            <%= form.check_box :segunda %>    
            <%= form.label :segunda, "Segunda-feira" %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.check_box :terca %> 
            <%= form.label :terca, "Terça-feira" %>
          </div>   
        </td>
        <td>
          <div class="field">  
            <%= form.check_box :quarta %>
            <%= form.label :quarta, "Quarta-feira" %>

          </div>      
        </td>
        <td>
          <div class="field">
            <%= form.check_box :quinta %> 
            <%= form.label :quinta, "Quinta-feira" %>
          </div>     
        </td>      
        <td>
          <div class="field">
            <%= form.check_box :sexta %> 
            <%= form.label :sexta, "Sexta-feira" %>
          </div>     
        </td>
        <td>
          <div class="field">
            <%= form.check_box :sabado %>  
            <%= form.label :sabado, "Sábado" %>
          </div>
        </td>   
              
      </tr>
    </table>
  </fieldset>
 
  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>

