<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :registropara %>
    <%= form.text_field :registropara %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :timeini %>
    <%= form.text_field :timeini %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :timefim %>
    <%= form.text_field :timefim %>
  </div>

  <div class="field">
    <%= form.label :sala_id %>
    <%= form.select("sala_id", Sala.all.collect {|a| [ a.nome, a.id ] })  %>
  </div>
  
  <div class="field">
    <%= form.label :domingo %>
    <%= form.check_box :domingo %>
  </div>

  <div class="field">
    <%= form.label :segunda %>
    <%= form.check_box :segunda %>
  </div>

  <div class="field">
    <%= form.label :terca %>
    <%= form.check_box :terca %>
  </div>

  <div class="field">
    <%= form.label :quarta %>
    <%= form.check_box :quarta %>
  </div>

  <div class="field">
    <%= form.label :quinta %>
    <%= form.check_box :quinta %>
  </div>

  <div class="field">
    <%= form.label :sexta %>
    <%= form.check_box :sexta %>
  </div>    

  <div class="field">
    <%= form.label :sabado %>
    <%= form.check_box :sabado %>
  </div>  
 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

