<%= link_to 'Novo Evento', new_event_path, class: 'btn btn-info'  %>
<br>
<br>

<% @dadosagenda.each do |agenda| %>
    <p><b><%= agenda.nome %></b> - <%= agenda.observacao %> </p> 
<% end %>


<table>
    <tr>
        <% @salasdaagenda.each do |sala|  %>            
            <td><input type="color" id="favcolor" name="favcolor" disabled value="<%= sala.cor %>">  <%= sala.nome %> </td>
        <% end %>
    </tr>
</table>



<div id="calendario"></div>