<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event.descricao %>
</p>

<p>
  <strong>Registrado para:</strong>
  <%= @event.registropara %>
</p>

<p>
  <strong>Data inicial:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Hora inicial:</strong>
  <%= @event.timeini %>
</p>

<p>
  <strong>Data final:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Hora final:</strong>
  <%= @event.timefim %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Voltar', events_path %>
