<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descriçao:</strong>
  <%= @event.descricao %>
</p>

<p>
  <strong>Registrado para:</strong>
  <%= @event.registropara %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Hora inicial:</strong>
  <%= @event.timeini %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Hora final:</strong>
  <%= @event.timefim %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
