<p id="notice"><%= notice %></p>

<p>
  <strong>Sala/Equipamento:</strong>
  <%= @event.sala.nome %>
</p>

<p>
  <strong>Título:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event.descricao %>
</p>

<p>
  <strong>Registrado para:</strong>
  <%= @event.registropara %>
</p>

<p>
  <strong>Data/Hora inicial:</strong>
  <%= @event.start_date.strftime("%d/%m/%Y") + " - " + @event.timeini.strftime("%H:%M")   %>
</p>

<p>
  <strong>Data/Hora final:</strong>
  <%= @event.end_date.strftime("%d/%m/%Y") + " - " + @event.timefim.strftime("%H:%M") %>
</p>

<p>
  <strong>Status:</strong>
</p>

<% if @event.pendente == true %>
  <p style="color:red;"><b>Esperando confirmação - ⧗ EA</b> </p>
<% else %>
  <p style="color:green;"><b>Confirmado - Ⓥ</b></p>
<% end %>


<% if session[:admingeral] == true %>
  <%= link_to 'Editar', edit_event_path(@event), class: 'btn btn-warning' %> |
<% end %>
<%= link_to 'Voltar', :back, class: 'btn btn-dark active' %>
