<p id="notice"><%= notice %></p>

<h1>Minhas Agendas - ICB</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Apresentar na tela inicial</th>
      <th>Observação</th>
      <th>Tipo</th>
      <th></th>     
      <th></th>
      <th></th>
      <th></th>
      <th></thead>
      <% if session[:admingeral] == true %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.nome %></td>
        <td><%= agenda.apresentacaotelaini == true ? "Sim" : "Não" %></td>
        <td><%= agenda.observacao %></td>
        <td><%= agenda.tipo %></td>
        <td><%= link_to 'Inscrição', inscricao_path(agenda) %> </td>
        <td><%= link_to 'Salas', versalas_path(agenda) %> </td>
        <td><%= link_to 'Informações', agenda %></td>
        <td><%= link_to 'Calendário', eventoagenda_path(agenda) %>  </td>
        <td><%= link_to 'Inscritos', verinscritos_path(agenda) %></td>
        <% if session[:admingeral] == true %>
          <td><%= link_to 'Editar', edit_agenda_path(agenda) %></td>
          <td><%= link_to 'Apagar', agenda, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:admingeral] == true %>
  <%= link_to 'Nova Agenda', new_agenda_path %>
<% end %>
