<p id="notice"><%= notice %></p>

<h1>Agendas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Apresentacaotelaini</th>
      <th>Observacao</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.nome %></td>
        <td><%= agenda.apresentacaotelaini %></td>
        <td><%= agenda.observacao %></td>
        <td><%= agenda.tipo %></td>
        <td><!-- Cadastrar usuarios nessa agenda --></td>
        <td><%= link_to 'Show', agenda %></td>
        <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
        <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agenda', new_agenda_path %>
