<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @agenda.nome %>
</p>

<p>
  <strong>Apresentar na tela inicial:</strong>
  <%= @agenda.apresentacaotelaini %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @agenda.observacao %>
</p>

<p>
  <strong>Tipo de agenda:</strong>
  <%= @agenda.tipo %>
</p>

<%= link_to 'Editar', edit_agenda_path(@agenda) %> |
<%= link_to 'Voltar', :back %>
