<h1>Minhas Agendas ICB</h1>

<table>
  <thead>
    <tr>
      <th>Agenda</th>
      <th>Usuario</th>
      <th>Status da inscricao</th>
      <th>Data da inscricao</th>
      <th colspan="2">Alterar status</th>     
    </tr>
  </thead>

  <tbody>
    <% @insc.each do |ins| %>
      <tr>
        <td><%= ins.agenda.nome %></td>
        <td><%= insc.Usuario.nomeUsuario %> </td>
        <td><%= insc.tipo %></td>
        <td><%= insc.created_at %> </td>
        <td><%= link_to 'Negar', alternegar_path(:id => ins.id) %> </td>
        <td><%= link_to 'Inscrever', alterinscrito_path(:id => ins.id)) %> </td>                        
      </tr>
    <% end %>
  </tbody>
</table>

