<h1>Minhas Agendas ICB</h1>

<table>
  <thead>
    <tr>
      <th>Agenda</th>
      <th>Usuário</th>
      <th>Status da inscrição</th>
      <th>Data da inscrição</th>
      <% if session[:admingeral] == true %>
        <th colspan="2">Alterar status</th>
      <% end %>     
    </tr>
  </thead>

  <tbody>
    <% @insc.each do |ins| %>
      <tr>
        <td><%= ins.agenda.nome %></td>
        <td><%= ins.usuario.nomeUsuario %> </td>
        <td><%= ins.tipo %></td>
        <td><%= ins.created_at.strftime("%d/%m/%Y")  %> </td>

        <% if session[:admingeral] == true %>
          <td><%= link_to 'Negar', alternegar_path(:id => ins.id) %> </td>
          <td><%= link_to 'Inscrever', alterinscrito_path(:id => ins.id) %> </td>        
        <% end %>                
      </tr>
    <% end %>
  </tbody>
</table>

