<%= form_with(model: sala, local: true) do |form| %>
  <% if sala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sala.errors.count, "error") %> prohibited this sala from being saved:</h2>

      <ul>
      <% sala.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, "Nome" %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cor, "Cor de identificaçao" %>
    <%= form.text_field :cor %>
  </div>

  <div class="field">
    <%= form.label :permissaoauto, "Permissao automatica" %>
    <%= form.check_box :permissaoauto %>
  </div>

  <div class="field">
    <%= form.label :observacao, "Observaçao" %>
    <%= form.text_area :observacao %>
  </div>

  <div class="field">
    <%= form.label :confirmacao, "Evento necessita ser confirmado" %>
    <%= form.check_box :confirmacao %>
  </div>

  <div class="field">
    <%= form.label :avisoadmhoravaga, "Avisar administradores, caso de eventos desmarcados" %>
    <%= form.check_box :avisoadmhoravaga %>
  </div>

  <div class="field">
    <%= form.label :limiteqtdeuso, "Limitar quantidade de uso diaria" %>
    <%= form.check_box :limiteqtdeuso %>
  </div>

  <div class="field">
    <%= form.label :limitehoras, "Horas" %>
    <%= form.number_field :limitehoras, max: 8, min: 1 %>
  </div>

  <div class="field">
    <%= form.label :agenda_id, "Vincular na agenda" %>
    <%= form.select("agenda_id", Agenda.all.collect {|a| [ a.nome, a.id ] })  %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
