<p id="notice"><%= notice %></p>

<h1>Salas permitidas o acesso ou liberadas anteriormente </h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cor</th>
      <th>Permissão Automática</th>
      <th>Observação</th>
      <th>Confirmação do Agendamento</th>
      <th>Avisar horário vago</th>
      <th>Limite de uso</th>
      <th>Bloquear fora do intervalo</th>
      <th>Pertence a agenda</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><input type="color" id="favcolor" name="favcolor" disabled value="<%= sala.cor %>"></td>
        <td><%= sala.permissaoauto == true ? "Sim" : "Não" %></td>
        <td><%= sala.observacao %></td>
        <td><%= sala.confirmacao == true ? "Exige confirmar" : "Não exige confirmar" %></td>
        <td><%= sala.avisoadmhoravaga == true ? "Sim" : "Não" %> </td>
        <td><%= sala.limiteqtdeuso == true ? "Sim" : "Não" %></td>
        <td><%= sala.bloqforaintervalo == true ? "Sim" : "Não" %></td>
        <td><%= sala.agenda.nome %></td>
        <td><%= link_to 'Mostrar', sala, class: "btn btn-primary" %></td>
        <% if session[:admingeral] == true %>
          <td><%= link_to 'Editar', edit_sala_path(sala), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Permissão', permissao_path(sala), class: 'btn btn-light' %> </td>
          <td><%= link_to 'Apagar', sala, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %></td>          
        <% elsif tempermissaosuperadmin(sala.id)%>
          <td><%= link_to 'Editar', edit_sala_path(sala), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Permissão', permissao_path(sala), class: 'btn btn-light' %> </td>
          <td></td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Salas que necessitam autorização para uso </h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cor</th>
      <th>Permissão Automática</th>
      <th>Observação</th>
      <th>Confirmação do Agendamento</th>
      <th>Avisar horário vago</th>
      <th>Limite de uso</th>
      <th>Bloquear fora do intervalo</th>
      <th>Pertence a agenda</th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @salasescondidas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><input type="color" id="favcolor" name="favcolor" disabled value="<%= sala.cor %>"></td>
        <td><%= sala.permissaoauto == true ? "Sim" : "Não" %></td>
        <td><%= sala.observacao %></td>
        <td><%= sala.confirmacao == true ? "Exige confirmar" : "Não exige confirmar" %></td>
        <td><%= sala.avisoadmhoravaga == true ? "Sim" : "Não" %> </td>
        <td><%= sala.limiteqtdeuso == true ? "Sim" : "Não" %></td>
        <td><%= sala.bloqforaintervalo == true ? "Sim" : "Não" %></td>
        <td><%= sala.agenda.nome %></td>
        <td><%= link_to 'Mostrar', sala, class: "btn btn-primary" %></td>
        <td></td>
        <% if jasolicitouacesso(sala.id) %>
          <td>Acesso solicitado. Aguarde</td>
        <% else %>
          <td><%= link_to 'Solicitar acesso', alterpendente_path(:id => current_user.id, :sala => sala.id), class: 'btn btn-default' %> </td>     
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if session[:admingeral] == true %>
  <%= link_to 'Nova Sala', new_sala_path, class: 'btn btn-info' %>
<% end %>  
