<p id="notice"><%= notice %></p>

<h1>Salas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cor</th>
      <th>Permissao Automatica</th>
      <th>Observacao</th>
      <th>Confirmacao</th>
      <th>Agendas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.cor %></td>
        <td><%= sala.permissaoauto %></td>
        <td><%= sala.observacao %></td>
        <td><%= sala.confirmacao %></td>
        <td><%= sala.agenda.nome %></td>
        <td><%= link_to 'Mostrar', sala %></td>
        <% if session[:admingeral] == true %>
          <td><%= link_to 'Editar', edit_sala_path(sala) %></td>
          <td><%= link_to 'Apagar', sala, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:admingeral] == true %>
  <%= link_to 'Nova Sala', new_sala_path %>
<% end %>  
