<p id="notice"><%= notice %></p>

<h1>Salas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cor</th>
      <th>Permissão Automática</th>
      <th>Observação</th>
      <th>Confirmação</th>
      <th>Avisar horário vago</th/>
      <th>Limite de uso</th>
      <th>Agendas</th>
      <% if session[:admingeral] == true %>
        <th colspan="2"></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.cor %></td>
        <td><%= sala.permissaoauto == true ? "Sim" : "Não" %></td>
        <td><%= sala.observacao %></td>
        <td><%= sala.confirmacao == true ? "Exige confirmar" : "Não exige confirmar" %></td>
        <td><%= sala.avisoadmhoravaga == true ? "Sim" : "Não" %> </td>
        <td><%= sala.limiteqtdeuso == true ? "Sim" : "Não" %></td>
        <td><%= sala.agenda.nome %></td>
        <td><%= link_to 'Mostrar', sala %></td>
        <% if session[:admingeral] == true %>
          <td><%= link_to 'Editar', edit_sala_path(sala) %></td>
          <td><%= link_to 'Apagar', sala, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
        <% if session[:admingeral] == true or tempermissaosuperadmin(sala.id) %>
          <td><%= link_to "Permissão", permissao_path(sala) %>  </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:admingeral] == true %>
  <%= link_to 'Nova Sala', new_sala_path %>
<% end %>  
