<h1>Permitidos</h1>
<% @sala_atual = @sala%>
<table>
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Perfil Atual</th>
            <th colspan="2">Trocar para ?</th>
        </tr>
    </thead>
  <tbody>
    <% @permitidos.each do |p| %>
        <tr>
            <td><%= p.nomeUsuario %> </td>
            <td><%= p.nomeperfil %></td>  
            <% if p.nomeperfil == 'Admin' %>
                <td><%= link_to 'Supervisor', altersuper_path(:id => p.usuario_id, :sala => p.sala_id) %> </td>
                <td><%= link_to 'Simples', altersimples_path(:id => p.usuario_id, :sala => p.sala_id) %> </td>                        
            <% elsif p.nomeperfil == 'Supervisor' %>
                <td><%= link_to 'Admin', addadmin_path(:id => p.usuario_id, :sala => p.sala_id) %> </td>
                <td><%= link_to 'Simples', altersimples_path(:id => p.usuario_id, :sala => p.sala_id) %> </td>                        
            <% elsif p.nomeperfil == 'Simples' %>
                <td><%= link_to 'Supervisor', altersuper_path(:id => p.usuario_id, :sala => p.sala_id) %> </td>   
                <td><%= link_to 'Admin', addadmin_path(:id => p.usuario_id, :sala => p.sala_id) %> </td>            
            <% end %>
        </tr>
    <% end %>
  </tbody>
</table>    

<h1>Nao incluidos</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Vinculo</th>
            <th>Setor</th>
            <th>Unidade</th>
            <th colspan="3">Cadastrar como </th>
        </tr>
    </thead>
  <tbody>
    <% @negados.each do |n| %>
        <tr>
            <td><%= n.nomeUsuario %> </td>
            <td><%= n.tipoVinculo %> </td>
            <td><%= n.nomeSetor %> </td>
            <td><%= n.siglaUnidade %></td>
            <td><%= link_to 'Admin', addadmin_path(:id => n.id, :sala => @sala_atual) %> </td>
            <td><%= link_to 'Supervisor', altersuper_path(:id => n.id, :sala => @sala_atual) %> </td>
            <td><%= link_to 'Simples', altersimples_path(:id => n.id, :sala => @sala_atual) %> </td>            
        </tr>
    <% end %>
  </tbody>
</table> 