<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sala.nome %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @sala.cor %>
</p>

<p>
  <strong>Permissao Automatica:</strong>
  <%= @sala.permissaoauto == true ? "Sim" : "Nao" %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @sala.observacao %>
</p>

<p>
  <strong>Confirmacao:</strong>
  <%= @sala.confirmacao == true ? "Exige confirmar" : "Nao exige confirmar" %>
</p>

<p>
  <strong>Avisa horario vago:</strong>
  <%= @sala.avisoadmhoravaga == true ? "Sim" : "Nao" %>
</p>

<p>
  <strong>Tem limite de quantidade de uso (Horas):</strong>
  <%= @sala.limiteqtdeuso == true ? "Sim" : "Nao"  %>
</p>

<% if @sala.limiteqtdeuso == true %>
  <p>
    <strong>Horas:</strong>
    <%= @sala.limitehoras  %>
  </p>
<% end %>

<p>
  <strong>Agendas:</strong>
  <%= @sala.agenda.nome %>
</p>

<%= link_to 'Editar', edit_sala_path(@sala) %> |
<%= link_to 'Voltar', salas_path %>
