<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cor</th>
      <th>Permissão automática</th>
      <th>Observação</th>
      <% if session[:admingeral] == true or tempermissaosuperadmin(sala.id) %>
        <th>Confirmação</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.cor %></td>
        <td><%= sala.permissaoauto == true ? "Sim" : "Não" %></td>
        <td><%= sala.observacao %></td>
        <td><%= sala.confirmacao == true ? "Sim" : "Não" %></td>
        <% if session[:admingeral] == true or tempermissaosuperadmin(sala.id) %>
          <td><%= link_to "Permissão", permissao_path(sala) %>  </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>