<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cor</th>
      <th>Permissao automatica</th>
      <th>Observaçao</th>
      <% if session[:admingeral] == true or tempermissaosuperadmin(sala.id) %>
        <th>Confirmaçao</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.cor %></td>
        <td><%= sala.permissaoauto %></td>
        <td><%= sala.observacao %></td>
        <td><%= sala.confirmacao %></td>
        <% if session[:admingeral] == true or tempermissaosuperadmin(sala.id) %>
          <td><%= link_to "Permissao", permissao_path(sala) %>  </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>