<!DOCTYPE html>
<html>
  <head>
    <title>FiveMinFullcalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks = "false">

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">

        <ul class="nav navbar-nav">
          <% if session[:login] != nil %>
            <% if session[:admingeral] == true %>
              <li class="lead"> <%= link_to "Usuários", usuarios_path %></li>
              <li class="lead"> <%= link_to "Perfil", perfils_path %></li>
            <% end %>
            <li class="lead"> <%= link_to "Minhas agendas - Eventos", events_path %></li>
            <li class="lead"> <%= link_to "Agendas", agendas_path %></li>
            <li class="lead"> <%= link_to "Salas", salas_path %></li>
            <li class="lead"> <%= link_to "Sair" , logout_path %></li>
          <% else %>
            <li class="lead"> <%= link_to "Login", login_path %></li>
          <% end %>

        </ul>
      </div>  
    </nav>

    <% if session[:login] != nil %>
      <p>Você está logado com o usuário: <b><%= session[:login] %></b> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
