<!DOCTYPE html>
<html>
  <head>
    <title>FiveMinFullcalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks = "false">

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">

        <ul class="nav navbar-nav">
          <% if session[:login] != nil %>

            <li class="lead"> <%= link_to "Usuários", usuarios_path %></li>
            <li class="lead"> <%= link_to "Perfil", perfils_path %></li>
            <li class="lead"> <%= link_to "Eventos", events_url %></li>
            <li class="lead"> <%= link_to "Agendas", agendas_path %></li>
            <li class="lead"> <%= link_to "Salas", salas_path %></li>
          <% end %>

          <li class="lead"> <%= link_to "Sair" , logout_path %></li>

        </ul>
      </div>  
    </nav>

    <p>Você está logado com o usuário: <b><%= session[:login] %></b> </p>

    <%= yield %>
  </body>
</html>
